<div class="popup-request-window">
    <form class="popup-form" autocomplete="off" action="/submitRequest" method="POST" enctype="multipart/form-data" id="submissionForm">
        <input type="text" autocomplete="false" hidden>
        <header class="header-popup"><h2>Submission Deadline</h2></header>
        <div class="content">
            <div class="input-field">

                <div class="form-control">
                    <!-- lecture -->
                    <input name="module" class="nonEmpty submission currentModule" type="text" placeholder="Module" />
                    <i class="fa fa-check-circle"></i>
                    <i class="fa fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>

                <div class="form-control">
                    <!-- lecturer -->
                    <div class="lecturerDiv">
                        <input name="lecturer" class="selected submission lecturer" type="text" placeholder="Lecturer" />
                        <div class="suggestions-lecturer" id="submission">
                        </div>
                    </div>
                    <i class="fa fa-check-circle"></i>
                    <i class="fa fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>

                <div class="form-control">
                    <!-- input -->
                    <textarea name="message" rows="10" cols="20" placeholder="description" class="nonEmpty submission description" id="description"></textarea>
                    <i class="fa fa-check-circle"></i>
                    <i class="fa fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>

                <!-- append child to send evidence if the request type is submission deadline -->
                <div class="form-control">
                    <input type="file" name="uploadedFile" class="file submission" multiple/> 
                </div>

                <div class="form-control">
                    <button type="button" class="submit-button-request submit" id="submissionSubmitButton">submit</button>
                    <!-- id was "1" -->
                    <button type="button" class="close-button-request cancel" id="1">cancel</button>
                </div>

            </div>
        </div>
    </form>
</div>