<ul class="nav">
    <li><a href="/threads">Threads</a></li>
    <li><a href="#">Notifications</a></li>
    <li class= "dropdown">
        <button >Settings</button>
        <div class= "dropdown-content">
            <a href="#"> Edit profile</a>
            <a href="/change_password"> Change password</a>
            <a href="/delete_account"> Delete account</a>
        </div>
    </li>
    <li id="logout-popup">Log out</li>
</ul>