<div class="popup-request-window" id="popup-request-window">
    <form class="popup-form">
        <header class="header-popup"><h2>Title</h2></header>
        <div class="content">
            <div class="input-field">
                <input type="text" placeholder="name" class="input" id="name">
                <input type="text" placeholder="index" class="input" id="index">
                <select name="request-type" id="request" class="input">
                    <option id="request-option"></option>
                </select>
                <textarea rows="10" cols="20" placeholder="description" class="input" id="description"></textarea>
                <button type="submit">submit</button>
                <button type="cancel" onclick=" return closeForm()">cancel</button>
            </div>
        </div>
    </form>
</div>