<div class="popup-request-window">
    <form class="popup-form">
        <div class="content">
            <div class="input-field">

                <div>
                    <!-- id = "textarea" -->
                    <textarea name="message" rows="10" cols="5" placeholder="description" class="nonEmpty thread reply" id="nonEmpty reply"></textarea>
                </div>
                <!-- append child to send evidence if the request type is submission deadline -->

                <div>
                    <button type="submit" class="submit-button-request" id="replySubmitButton">submit</button>
                    <button type="button" class="close-button-request" id="replyCancekButton">cancel</button>
                </div>

            </div>
        </div>
    </form>
</div>