<!-- popup logout window -->
<div class="popup-window" id="popup-window">
    <div class="header">
        <h2>LOG OUT!</h2>
    </div>
    <div class="confirm-text">
        <h3>Log out wennama oneda?</h3>
    </div>
    <div class="form-control">
        <button type="submit" id="submit_logout" class="submit-button-request">OW YAKO</button>
        <button type="submit" id="cancel_logout" class="close-button-request">NA ITHIN</button>
    </div>
</div>