<!-- popup logout window -->
<div class="popup-window" id="popup-window">
    <div class="header">
        <h2>Confirm Logout!</h2>
    </div>
    <div class="form-control-logout">
        <button type="submit" id="submit_logout" class="submit-button-logout button">
            <span class="buttonText">Confirm</span>
        </button>
        <button type="submit" id="cancel_logout" class="close-button-logout button">
            <span class="buttonText">Cancel</span>
        </button>
    </div>
</div>