<div class="popup-request-window">
    <form class="popup-form" autocomplete="off">
        <input type="text" autocomplete="false" hidden>
        <header class="header-popup"><h2>Repeat Exam</h2></header>
        <div class="content">
            <div class="input-field">
                <div>
                    <!-- lecture -->
                    <input name="module" class="nonEmpty repeat currentModule" type="text" placeholder="Module" />
                </div>

                <!-- change later -->
                <div>
                    <!-- lecturer -->
                    <input name="lecturer" class="selected repeat lecturer" type="text" placeholder="Lecturer" />
                    <div class="suggestions-lecturer" id="repeat">
                    </div>
                </div>
                
                <div>
                    <!-- input -->
                    <textarea name="message" rows="10" cols="20" placeholder="description" class="nonEmpty repeat description" id="description"></textarea>
                </div>

                <!-- append child to send evidence if the request type is submission deadline -->
                <div>
                    <br/>
                    <input type="file" name="uploadedFile" class="file repeat"/> 
                    <br /><br />
                </div>

                <div>
                    <button type="button" class="submit-button-request" id="repeatSubmitButton">submit</button>
                    <!-- id was "2" -->
                    <button type="button" class="close-button-request" id="2">cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>