<div class="popup-request-window">
    <form class="popup-form" autocomplete="off">
        <input type="text" autocomplete="false" hidden>
        <header class="header-popup"><h2>Repeat Exam</h2></header>
        <div class="content">
            <div class="input-field">
                <div class="form-control">
                    <!-- lecture -->
                    <input name="module" class="nonEmpty repeat currentModule" type="text" placeholder="Module" />
                    <i class="fa fa-check-circle"></i>
                    <i class="fa fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>

                <!-- change later -->
                <div class="form-control">
                    <!-- lecturer -->
                    <div class="lecturerDiv">
                        <input name="lecturer" class="selected repeat lecturer" type="text" placeholder="Lecturer" />
                        <div class="suggestions-lecturer" id="repeat">
                        </div>
                    </div>
                    <i class="fa fa-check-circle"></i>
                    <i class="fa fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>
                
                <div class="form-control">
                    <!-- input -->
                    <textarea name="message" rows="10" cols="20" placeholder="description" class="nonEmpty repeat description" id="description"></textarea>
                    <i class="fa fa-check-circle"></i>
                    <i class="fa fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>
                <!-- append child to send evidence if the request type is submission deadline -->
                <div class="form-control">
                    <button type="button" class="submit-button-request submit" id="repeatSubmitButton">submit</button>
                    <!-- id was "2" -->
                    <button type="button" class="close-button-request cancel" id="2">cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>