<div class="popup" id="popup-1">
    <div class="overlay"></div>
    <div class="content">
        <div class="close-btn" onclick="togglePopup()">&times;</div>
        <h1>Confirm Logout!</h1>
        <button class="submit-logout" onclick="submitLogout()">
            <span class="buttonText">Confirm</span>
        </button>
    </div>
</div>