<div class="form-popup" id="form" value="">
    <form action="/request" class="form-container">
        <h2></h2>

        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Enter name" name="name" required>

        <label for="index"><b>Index</b></label>
        <input type="text" placeholder="Enter index" name="index" required>

        <label for="request"><b>Request type</b></label>
        <select name="reqTypes" id="reqTypes">
            <option></option>
        </select>

        <button type="submit" class="btn">Submit</button>
    </form>
</div>