<div class="popup-request-window">
    <form class="popup-form" action="/submitRequest" method="POST" autocomplete="off">
        <input type="text" autocomplete="false" hidden>
        <header class="header-popup"><h2>Submission Deadline</h2></header>
        <div class="content">
            <div class="input-field">

                <div>
                    <!-- lecture -->
                    <input name="module" class="nonEmpty submission module" type="text" placeholder="Module" />
                </div>

                <div>
                    <!-- lecturer -->
                    <input name="lecturer" class="selected submission lecturer" type="text" placeholder="Lecturer" />
                    <div class="suggestions-lecturer" id="submission">
                    </div>
                </div>

                <div>
                    <!-- input -->
                    <textarea name="message" rows="10" cols="20" placeholder="description" class="nonEmpty submission description" id="description"></textarea>
                </div>
                <!-- append child to send evidence if the request type is submission deadline -->
                <div>
                    <button type="submit" class="submit-button-request" id="submissionSubmit">submit</button>
                    <!-- id was "1" -->
                    <button type="cancel" class="close-button-request" id="submissionCancel">cancel</button>
                </div>

            </div>
        </div>
    </form>
</div>