<div class="popup-window">

    <div class="overlay"></div>

    <div class="content">

        <h1>Repeat Exam</h1>

        <div class="close-btn" onclick="toggleRepeat()">&times;</div>

        <form class="popup-form" autocomplete="off" action="/submitRequest" method="POST" enctype="multipart/form-data" id="repeatForm">

            <input type="text" autocomplete="false" hidden>
        
            <div class="input-field">
                
                <div class="col col-1">
                    <div class="form-control">
                        <!-- lecture -->
                        <input name="module" class="nonEmpty repeat currentModule" type="text" placeholder="Module" />
                        <i class="fa fa-check-circle"></i>
                        <i class="fa fa-exclamation-circle"></i>
                        <small>Error message</small>
                    </div>
    
                    <div class="form-control">
                        <!-- lecturer -->
                        <div class="lecturerDiv">
                            <input name="lecturer" class="selected repeat lecturer" type="text" placeholder="Lecturer" />
                        </div>
                        <i class="fa fa-check-circle"></i>
                        <i class="fa fa-exclamation-circle"></i>
                        <small>Error message</small>
                    </div>
                </div>
    
                <div class="divider"></div>
    
                <div class="col col-2">
                    
                    <div class="form-control">
                        <!-- input -->
                        <textarea name="message" rows="10" cols="20" placeholder="description" class="nonEmpty repeat description" id="description"></textarea>
                        <i class="fa fa-check-circle"></i>
                        <i class="fa fa-exclamation-circle"></i>
                        <small>Error message</small>
                    </div>

                    <div class="inputFileDiv">
                        <input type="file" name="uploadedFile" class="file repeat" multiple/> 
                        <label for="file">
                            <i class="material-icons">file_upload</i>
                            <span class="text">Choose files</span>
                        </label>
                    </div>

                </div>
    
            </div>
    
            <div class="form-control">
                <button type="button" class="submit-button-request submit" id="repeatSubmitButton">
                    <span class="buttonText">submit</span>
                </button>
            </div>
    
        </form>

    </div>

</div>