<div class="popup-request-window">
    <form class="popup-form" autocomplete="off">
        <input type="text" autocomplete="false" hidden>
        <header class="header-popup"><h2>Add/Drop Request</h2></header>
        <div class="content">
            <div class="input-field">
                <div class="form-control">
                    <!-- lecture -->
                    <input name="module" class="nonEmpty addDrop currentModule" type="text" placeholder="current module" />
                    <i class="fa fa-check-circle"></i>
                    <i class="fa fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>

                <div class="form-control">
                    <!-- lecture -->
                    <input name="requiredModule" class="nonEmpty addDrop requiredModule" type="text" placeholder="required module" />
                    <i class="fa fa-check-circle"></i>
                    <i class="fa fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>
                    
                <div class="form-control">
                    <!-- lecturer -->
                    <input name="lecturer" class="selected addDrop lecturer" type="text" placeholder="Lecturer" />
                    <div class="suggestions-lecturer" id="addDrop">
                    </div>
                </div>

                
                <div class="form-control">
                    <!-- input -->
                    <textarea name="message" rows="10" cols="20" placeholder="description" class="nonEmpty addDrop description" id="description"></textarea>
                </div>

                <div class="form-control">
                    <button type="button" class="submit-button-request submit" id="addDropSubmitButton">submit</button>
                    <!-- id was "0" -->
                    <button type="button" class="close-button-request cancel" id="0">cancel</button>
                </div>
                
                
                <!-- append child to send evidence if the request type is submission deadline -->
                
            </div>
        </div>
    </form>
</div>