<!DOCTYPE html>

<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <!-- fa-eye and fa-eye-slash -->
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <title>About Us</title>
    </head>

    <body>

        <div>
            <h1>Team GTX</h1>
        </div>

        <div>
            <h2>Second semester project for Engineering Skill Development : Student Request System</h2>
        </div>

        <div>
            <h3>Team Members:</h3>
        </div>

        <div>
            <ul>
                <li>
                    Oshanath Rajawasam
                    <ul>
                        <li>email</li>
                        <li>contact No.</li>
                    </ul>
                </li>
                <li>
                    Akash Tharuka
                    <ul>
                        <li>email</li>
                        <li>contact No.</li>
                    </ul>
                </li>
                <li>
                    Kalana Rubasinghe
                    <ul>
                        <li>email</li>
                        <li>contact No.</li>
                    </ul>
                </li>
                <li>
                    Lasith Rajakaruna
                    <ul>
                        <li>email</li>
                        <li>contact No.</li>
                    </ul>
                </li>
                <li>
                    Samadhi Divyanjalee
                    <ul>
                        <li>email</li>
                        <li>contact No.</li>
                    </ul>
                </li>
            </ul>
        </div>

        <div>
            <span>Contact Us: uom.studentrequestsystem@gmail.com</span>
        </div>

    </body>

</html>