<!DOCTYPE html>

<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles_aboutUs.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <!-- fa-eye and fa-eye-slash -->
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <title>About Us</title>
    </head>

    <body>

        <div class="header">
            <div class="image-container">
                <img src="./resources/gtx.jpg" alt="team_logo">
            </div>
            <h1>TEAM GTX</h1>
        </div>

        <div class="projectHeaderContainer">
            <div class="projectHeader">
                <h2>Second Semester Project: Student Request System</h2>
            </div>
            <span>Contact Us: uom.studentrequestsystem@gmail.com</span>
        </div>

        <div>
            <h3>Team Members:</h3>
        </div>

        <div class="teamMembers">
            <div class="details">
                <h3>Oshanath Rajawasam (LOMCCA)</h3>
                <div>
                    <ul>
                        <li>email: oshanath.19@cse.mrt.ac.lk</li>
                    </ul>
                </div>
            </div>
            <div class="details">
                <h3>Lasith Rajakarunaratne</h3>
                <div>
                    <ul>
                        <li>email: lasith.19@cse.mrt.ac.lk</li>
                    </ul>
                </div>
            </div>
            <div class="details">
                <h3>Kalana Rubasinghe</h3>
                <div>
                    <ul>
                        <li>email: kalana.19@cse.mrt.ac.lk</li>
                    </ul>
                </div>
            </div>
            <div class="details">
                <h3>Akash Tharuka</h3>
                <div>
                    <ul>
                        <li>email: akash.19@cse.mrt.ac.lk</li>
                    </ul>
                </div>
            </div>
            <div class="details">
                <h3>Samadhi Divyanjali</h3>
                <div>
                    <ul>
                        <li>email: samadhi.19@cse.mrt.ac.lk</li>
                    </ul>
                </div>
            </div>
        </div>

    </body>

</html>