<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles_login.css">
    <title>Change Password</title>
</head>
<body>
    <form action="changePassword" class="form" id="form">
        <div class="form-control">
            <label for="password">Current password</label><br>
            <input type="password" name="current_password" id="current_password" placeholder="Enter current password" required>
        </div>
        <br>
        <div class="form-control">
            <label for="password">New password</label><br>
            <input type="password" name="new_password" id="new_password" placeholder="Enter new password" required>
        </div>
        <br>
        <div class="form-control">
            <label for="password">Confirm new password</label><br>
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Cofirm new password" required>
        </div>
        <br>
        <div class="form-control">
            <button type="submit">Save</button>
        </div>
    </form>

    <script src="/javascript/changePassword_validation.js"></script>
</body>
</html>