<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles_login.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <title>Change Password</title>
</head>
<body>
    <form action="changePassword" class="form" id="form">
        <div class="form-control">
            <label for="password">Current password</label><br>
            <input type="password" name="current_password" class="existingPsw changePsw" id="current_password" placeholder="Enter current password">
            <i class="fa fa-check-circle"></i>
            <i class="fa fa-exclamation-circle"></i>
            <small>Error message</small>
        </div>

        <div class="form-control">
            <label for="password">New password</label><br>
            <input type="password" name="new_password" class="newPsw changePsw psw" id="new_password" placeholder="Enter new password">
            <i class="fa fa-check-circle"></i>
            <i class="fa fa-exclamation-circle"></i>
            <small>Error message</small>
        </div>

        <div class="form-control">
            <label for="password">Confirm new password</label><br>
            <input type="password" name="confirm_password" class="newPsw changePsw confirm" id="confirm_password" placeholder="Cofirm new password">
            <i class="fa fa-check-circle"></i>
            <i class="fa fa-exclamation-circle"></i>
            <small>Error message</small>
        </div>

        <div class="form-control">
            <button type="button" id="changePswSubmit">Save</button>
        </div>

    </form>

    <script src="/javascript/formController.js"></script>
</body>
</html>