<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
</head>
<body>
    <form action="">
        <div>
            <label for="password">Current password</label><br>
            <input type="password" name="password" id="password" placeholder="Enter current password" required>
        </div>
        <br>
        <div>
            <label for="password">New password</label><br>
            <input type="password" name="password" id="password" placeholder="Enter new password" required>
        </div>
        <br>
        <div>
            <label for="password">Confirm new password</label><br>
            <input type="password" name="password" id="password" placeholder="Cofirm new password" required>
        </div>
        <br>
        <div>
            <button type="submit">Save</button>
        </div>
    </form>
</body>
</html>