<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <title>Contact</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Contact us</h1>
        </header>

        <div class="form-control">
            <label for="contact">Tell us your concern </label>
            <textarea name="concern" class="nonEmpty contact concern" id="concern" cols="30" rows="10" ></textarea>
            <i class="fa fa-check-circle"></i>
            <i class="fa fa-exclamation-circle"></i>
            <small>Error message</small>  
        </div>

        <div class="form-control">
            <label for="email">Your email address</label>
            <input type="email" name="email" class="contactEmail contact" id="email" placeholder="Enter your Email">
            <i class="fa fa-check-circle"></i>
            <i class="fa fa-exclamation-circle"></i>
            <small>Error message</small>
        </div>

        <div class="form-control">
            <button id="contactSubmit" type="button" class="button contact">
                <span class="buttonText">Confirm</span>
            </button>
        </div>

    </div>
    <script src="/javascript/formController.js"></script>
</body>
</html>