<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contact.css">
    <title>Contact</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Contact us</h1>
        </header>

        <div class="form-control">
            <label for="contact">Tell us your concern </label>
            <textarea name="contact" id="contact" cols="30" rows="10" ></textarea>   
        </div>

        <div class="form-control">
            <label for="email">Your email address</label>
            <input type="email" name="email" class="email" id="email" placeholder="Enter your Email">
            
        </div>

        

    </div>
    <script src="/javascript/formController.js"></script>
</body>
</html>