<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles_editProfile.css">
    <title>Edit profile</title>
</head>
<body>
    <div class="container">
            
        <h1>Edit Profile</h1>
        <div class="img">
                <img class="profile" src="resources/edit.png">
                
        </div>
        
        <form class="form" action="/EditProfile" method="POST" autocomplete="off" enctype="multipart/form-data" id="EditProfileForm">

            <div class="content">
                <div class="form-control">
                    <div class="btnContainer">
                        <label for="username" class="username">Username</label>
                        <button type="button" class="button edit">
                            <span class="buttonText">Edit</span>
                        </button>
                    </div>
                    <div class="inputDiv"></div>
                    <i class="fa fa-check-circle"></i>
                    <i class="fa fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>
    
                <div class="form-control">
                    <div class="btnContainer">
                        <label for="index" class="index">Index</label>
                        <button type="button" class="button edit">
                            <span class="buttonText">Edit</span>
                        </button>
                    </div>
                    <div class="inputDiv"></div>
                    <i class="fa fa-check-circle"></i>
                    <i class="fa fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>
    
                <div class="form-control">
                    <div class="btnContainer">
                        <label for="phone" class="phone">Telephone</label>
                        <button type="button" class="button edit">
                            <span class="buttonText">Edit</span>
                        </button>
                    </div>
                    <div class="inputDiv"></div>
                    <i class="fa fa-check-circle"></i>
                    <i class="fa fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>
    
                <div class="form-control">
                    <div class="btnContainer">
                        <label for="birthday" class="birthday">Birthday</label>
                        <button type="button" class="button edit">
                            <span class="buttonText">Edit</span>
                        </button>
                    </div>
                    <div class="inputDiv"></div>
                    <i class="fa fa-check-circle"></i>
                    <i class="fa fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>
    
                <div class="form-control">
                    <div class="btnContainer">
                        <label for="gender" class="gender">Gender</label>
                        <button type="button" class="button edit">
                            <span class="buttonText">Edit</span>
                        </button>
                    </div>
                    <i class="fa fa-check-circle"></i>
                    <i class="fa fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>

                <div>
                    <input type="checkbox" id="removeProfilePic" name="removeProfilePic" value="true">
                    <label for="vehicle1">Remove Profile Picture</label>
                </div>

                <div>
                    <button type="button" class="button editProfileSubmit" id="editProfileSubmit">
                        <span class="buttonText">Confirm</span>
                    </button>
                </div>

            </div>

        </form> 

        <script src="/javascript/formController.js"></script>
    </div>
</body>
</html>
