<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/styles_editProfile.css">
    <title>Edit profile</title>
</head>
<body>
    <div class="container">
            
        <h1>Edit Profile</h1>
        
        <form class="form" id="form">

            <div class="form-control">
                <div class="container">
                    <label for="username">User Name</label>
                    <button>Edit</button>
                </div>
            </div>

            <div class="form-control">
                <div class="container">
                    <label for="index">Index</label>
                    <button>Edit</button>
                </div>
            </div>

            <div class="form-control">
                <div class="container">
                    <label for="phone">Telephone</label>
                    <button>Edit</button>
                </div>
            </div>

            <div class="form-control">
                <div class="container">
                    <label for="birthday">Birthday</label>
                    <button>Edit</button>
                </div>
            </div>

            <div class="form-control">
                <div class="container">
                    <label for="gender">Gender</label>
                    <button>Edit</button>
                </div>
            </div>

        </form> 

    </div>
</body>
</html>
