<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles_login.css">
    <title>Change Password</title>
</head>
<body>
    <form action="changePassword" class="form" id="form">

        <div class="form-control">
            <label for="password">New password</label><br>
            <input type="password" name="new_password" class="newPsw forgotChangePsw psw" id="new_password" placeholder="Enter new password" required>
            <small>Error message</small>
        </div>

        <div class="form-control">
            <label for="password">Confirm new password</label><br>
            <input type="password" name="confirm_password" class="newPsw forgotChangePsw confirm" id="confirm_password" placeholder="Cofirm new password" required>
            <small>Error message</small>
        </div>

        <div class="form-control">
            <button type="button" id="forgotChangePswSubmit">Save</button>
        </div>

    </form>

    <script src="/javascript/formController.js"></script>
</body>
</html>