<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/forgotPswChange_styles.css">
    <!-- button loading animation -->
    <link rel="stylesheet" href="/css/loading_animations.css">
    <!-- fa-eye and fa-eye-slash -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <title>Change Password</title>
</head>
<body>
    
    <div class="container">
        <header class="header">
            <h1>Try to remember this time!</h1>
        </header>
        <div class="img">
            <img class="profile" src="resources/emoticon-square-smiling-face-with-closed-eyes.png">
            
        </div>
        <form action="changePassword" class="form" id="form">

            <div class="form-control">
                
                <input type="password" name="new_password" class="newPsw forgotChangePsw psw" id="new_password" placeholder="Enter new password">
                <label for="password" class="form-label">New password</label>
                <i class="far fa-eye" id="togglePassword"></i>
                <i class="fa fa-check-circle"></i>
                <i class="fa fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>
    
            <div class="form-control">
                
                <input type="password" name="confirm_password" class="newPsw forgotChangePsw confirm" id="confirm_password" placeholder="Cofirm new password">
                <label for="password" class="form-label">Confirm new password</label>
                <i class="far fa-eye" id="togglePassword"></i>
                <i class="fa fa-check-circle"></i>
                <i class="fa fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>
            <br><br><br><br>
            <div class="form-control">
                <button type="button" id="forgotChangePswSubmit" class="button forgotChangePsw">
                    <span class="buttonText">Save</span>
                </button>
            </div>
    
        </form>
    </div>

    <script src="/javascript/formController.js"></script>
</body>
</html>