<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/forgotPassword_styles.css">
    <link rel="stylesheet" href="/css/loading_animations.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <title>Forgot Password</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Verify it's you</h1>
        </header>
        
        <div class="img">
            <img class="profile" src="resources/12xy.png">
            
    </div>
    
    <form class ="form" id="form">

        <div class="form-control">
            
            <input type="email" name="email" class="forgotPswEmail forgotPassword" placeholder="Enter your Email Address" id="email">
            <label class="form-label" for="email">Email Address : </label>
            <i class="fa fa-check-circle"></i>
            <i class="fa fa-exclamation-circle"></i>
            <small>Error message</small>
        </div>

        <div class="form-control">
            <button id="forgotPasswordSubmit" type="button" class="button forgotPassword">
                <span class="buttonText">Confirm</span>
            </button>
        </div>

    </form>
</div>
<script src="/javascript/formController.js"></script>
</body>
</html>