<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/forgotPassword_styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <title>Forgot Password</title>
</head>
<body>
    <div class="container">
        <h1>Verify it's you</h1>
        <form class ="form" id="form">

            <div class="form-control">
                <label>Email Address : </label>
                <input type="email" name="email" class="existingEmail forgotPassword" placeholder="Enter your email" id="email">
                <i class="fa fa-check-circle"></i>
                <i class="fa fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>
            
            <div class="form-control">
                <label>Secret Question : </label>
                <select name="question" id="secretQuestion" class="question forgotPassword ">
                    <option value="">Select a question</option>
                    <option value="1">favourite Pet?</option>
                    <option value="2">favourite Colour?</option>
                    <option value="3">school name?</option>
                    <option value="4">hometown?</option>
                </select>
                <i class="fa fa-check-circle"></i>
                <i class="fa fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>

            <div class="form-control">
                <label>Answer : </label>
                <input type="text" name="answer" class="question forgotPassword answer" placeholder="Type your answer">
                <i class="fa fa-check-circle"></i>
                <i class="fa fa-exclamation-circle"></i>
                <small>Error message</small>
            </div>

            <div class="form-control">
                <button id="forgotPasswordSubmit" type="button" class="button forgotPassword">
                    <span class="forgotPasswordText">Confirm</span>
                </button>
            </div>

        </form>
    </div>
    <script src="/javascript/formController.js"></script>
</body>
</html>