<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- fa-eye and fa-eye-slash -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/styles_login.css">
        <link rel="stylesheet" href="/css/loading_animations.css">
        <title>User Profile</title>
    </head>

    <body>
        <div class="container center">
            
            <div class="left">
            	<img class="profile" src="/resources/user.png">
            	
            </div>
            <div class="left1">UOM-Student Request System</div>

            <form class="form" id="form">

            	<h1>Log In</h1>
                <div class="form-control">
                    <label for="email">E-mail</label>
                    <input type="text" name="email" id="email" class="existingEmail login" placeholder="Enter your email">
                    <i class="fa fa-check-circle"></i>
                    <i class="fa fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>

                <div class="form-control">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="existingPsw login" placeholder="Enter your password">
                    <i class="far fa-eye" id="togglePassword"></i>
                    <i class="fa fa-check-circle"></i>
                    <i class="fa fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>
                
                <div class="form-control links" >
                    <a href="/forgotPassword" class="link1">Forgot your password?</a>
                </div>

                <div class="form-control links1">
                    <a href="/signup"> Create a new account</a>
                </div>

                <div class="form-control">
                    <button id="loginSubmit" type="button" class="button login">
                        <span class="buttonText">Log in</span>
                    </button>
                </div>

            </form>

        </div>
        <script src="javascript/formController.js"></script>
    </body>

    <footer>
        <a href="/contact">Contact</a>
        <a href="#">About</a>
    </footer>
</html>