<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/styles_login.css">
        <title>User Profile</title>
    </head>

    <body>
        <div class="container">
            <div class="header">
                <h2>Log In</h2>
            </div>

            <form class="form" id="form">

                <div class="form-control">
                    <label for="email">E-mail</label>
                    <input type="text" name="email" id="email" placeholder="Enter your email">
                    <i class="fa fa-check-circle"></i>
                    <i class="fa fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>

                <div class="form-control">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Enter your password">
                    <i class="fa fa-check-circle"></i>
                    <i class="fa fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>
                
                <div class="form-control">
                    <a href="">Forgot your password?</a>
                </div>
                <div class="form-control">
                    <a href="/signup"> Create a new account</a>
                </div>

                <div class="form-control">
                    <button id="loginSubmit" type="button">Log in</button>
                </div>

            </form>

        </div>
        <script src="javascript/formController.js"></script>
    </body>
</html>