<!DOCTYPE html>

<html>

    <%- include('./assets/partials/head.ejs') %> 
    
    <body class="content">
        <div>

            <h1 name="head_1">Sign Up</h1>

            <form onsubmit="return validateSubmit()">

                <b>Full Name :</b>
                <br/>
                <input type="text" name="name" placeholder="Enter your full name" id="name" required>
                <br/><br/>

                <b>Index Number : </b>
                <br/>
                <input type="text" name="index" placeholder="Enter your index number" id="index" required>
                <br/><br/>

                <b>Email Address : </b>
                <br/>
                <input type="email" name="email" placeholder="Enter your email" id="email" required>
                <br/><br/>

                <b>Birthday : </b>
                <br/>
  				<input type="date" id="birthday" name="birthday" required>
                <br/>
                <br/>
                <section class="gender">
                    <input type="radio" name="gender" value="male" id="male" required>
                    <label for="male">Male</label>
                    <input type="radio" name="gender" value="female" id="female" required>
                    <label for="female">Female</label>
                </section>

                <br><br>

                <b>Telephone Number : </b>
                <br/>
                <input type="text" name="phone" placeholder="Add your Telephone number" id="phone" required>
                <br/><br/>

                <b>Password :</b>
                <br/>
                <input type="password" name="password" id="psw" placeholder="Enter your password" required>
                <br/><br/>

                <b>Confirm Password : </b>
                <br/>
                <input type="password" name="confirmPsw" id="c_psw" placeholder="Confirm your password" required>
                <br/><br/>

                <b>Student or Staff? :</b>
                <br/>

                <section class="type">
                    <input type="radio" name="type" value="student" id="studenet" required>
                    <label for="Student">Student</label>
                    <input type="radio" name="type" value="staff" id="staff" required>
                    <label for="Staff">Staff</label>
                </section>


                <br/><br/>

                <b>Faculty : </b>
                <br/>
                <select name="faculty" id="faculty">
                    <option value="Engineering">Engineering</option>
                    <option value="IT">IT</option>
                    <option value="archi">Architecture</option>
                    <option value="bsn">Business</option>
                </select>

                <br/><br/>

                <button type="submit">Sign Up</button>

            </form> 

        </div>
        <script src="/javascript/validation.js"></script>
    </body>
</html>