<!DOCTYPE html>

<html>

    <%- include('./assets/partials/head.ejs') %> 
    
    <body class="content">
        <div>

            <h1 name="head_1">Sign Up</h1>

            <form action="/home" method="POST">

                <b>Full Name :</b>
                <br/>
                <input type="text" name="name" placeholder="Enter your full name" required>
                <br/><br/>

                <b>Index Number : </b>
                <br/>
                <input type="text" name="indexNumber" placeholder="Enter your index number" required>
                <br/><br/>

                <b>Email Address : </b>
                <br/>
                <input type="email" name="email" placeholder="Enter your email" required>
                <br/><br/>

                <b>Birthday : </b>
                <br/>
  				<input type="date" id="birthday" name="birthday" required>
                <br/>
                <br/>
                <section class="gender">
                    <input type="radio" name="gender" value="male">
                    <label for="male">Male</lab
                        el>
                    <input type="radio" name="gender" value="female">
                    <label for="female">Female</label>
                </section>

                <br><br>

                <b>Telephone Number : </b>
                <br/>
                <input type="text" name="telephone" placeholder="Add your Telephone number" required>
                <br/><br/>

                <b>Password :</b>
                <br/>
                <input type="password" name="password" id="psw" placeholder="Enter your password" required>
                <br/><br/>

                <b>Confirm Password : </b>
                <br/>
                <input type="password" name="confirmPsw" id="c_psw" placeholder="Confirm your password" required>
                <br/><br/>

                <b>Student or Staff? :</b>
                <br/>

                <section class="type">
                    <input type="radio" name="type" value="student">
                    <label for="Student">Student</label>
                    <input type="radio" name="type" value="staff">
                    <label for="Staff">Staff</label>
                </section>


                <br/><br/>

                <b>Faculty : </b>
                <br/>
                <select name="Faculty" >
                    <option value="Engineering">Engineering</option>
                    <option value="IT">IT</option>
                    <option value="archi">Architecture</option>
                    <option value="bsn">Business</option>
                </select>

                <br/><br/>

                <button type="submit">Sign Up</button>

            </form> 

        </div>
        <script src="validation.js"></script>
    </body>
</html>