<!DOCTYPE html>

<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <!-- fa-eye and fa-eye-slash -->
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <link rel="stylesheet" href="/css/styles_signup.css">
        <link rel="stylesheet" href="/css/loading_animations.css">
        <title>User Profile</title>
    </head>
    
    <body class="main-body">
        <div class="container">
            
            <h1>Sign Up</h1>
            
            <form class="form" action="/signup" method="POST" autocomplete="off" enctype="multipart/form-data" id="signUpForm">
                <div class="form-control">
                    <label>Full Name :</label>
                    <input type="text" name="name" class="nonEmpty signUp fullName" placeholder="Enter your full name" id="username">
                    <i class="fa fa-check-circle"></i>
                    <i class="fa fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>

                <div class="form-control">
                    <label>Index Number : </label>
                    <input type="text" name="index" class="index signUp" placeholder="Enter your index number" id="index">
                    <i class="fa fa-check-circle"></i>
                    <i class="fa fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>

                <div class="form-control">
                    <label>Email Address : </label>
                    <input type="email" name="email" class="newEmail signUp" placeholder="Enter your email" id="email">
                    <i class="fa fa-check-circle"></i>
                    <i class="fa fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>


                <div class="form-control">
                    <label>Birthday : </label>
                    <input type="date" id="birthday" class="nonEmpty signUp birthday" name="birthday">
                    <i class="fa fa-check-circle"></i>
                    <i class="fa fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>

                <div class="form-control">
                    <input type="radio" name="gender" class="nonEmptyRadio signUp gender" value="male" id="male">
                    <label for="male">Male</label>
                    <input type="radio" name="gender" value="female" id="female">
                    <label for="female">Female</label>
                    <i class="fa fa-check-circle"></i>
                    <i class="fa fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>

                <div class="form-control">
                    <label>Telephone Number : </label>
                    <input type="text" name="phone" class="nonEmpty signUp phone" placeholder="Add your Telephone number" id="phone">
                    <i class="fa fa-check-circle"></i>
                    <i class="fa fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>

                <div class="form-control">
                    <label>Password :</label>
                    <input type="password" name="password" class="newPsw signUp psw" id="password" placeholder="Enter your password">
                    <i class="far fa-eye" id="togglePassword"></i>
                    <i class="fa fa-check-circle"></i>
                    <i class="fa fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>

                <div class="form-control">
                    <label>Confirm Password : </label>
                    <input type="password" name="confirmPsw" class="newPsw signUp confirm" id="c_psw" placeholder="Confirm your password">
                    <i class="far fa-eye" id="toggleConfirmPassword"></i>
                    <i class="fa fa-check-circle"></i>
                    <i class="fa fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>

                <div class="form-control">
                    <input type="radio" name="type" class="nonEmptyRadio signUp type" value="student" id="student">
                    <label for="Student">Student</label>
                    <input type="radio" name="type" value="staff" id="staff">
                    <label for="Staff">Staff</label>
                    <i class="fa fa-check-circle"></i>
                    <i class="fa fa-exclamation-circle"></i>
                    <small>Error message</small>
                </div>

                <div class="form-control">
                    <label>Faculty : </label>
                    <select name="faculty" id="faculty" class="normal signUp faculty">
                        <option value="Engineering">Engineering</option>
                        <option value="IT">IT</option>
                        <option value="archi">Architecture</option>
                        <option value="bsn">Business</option>
                    </select>
                </div>

                <div class="form-control">
                    <input type="file" accept="image/*" name="uploadedFile" class="file signUp" id="fileItem"/> 
                </div>

                <div class="form-control">
                    <button id="signUpSubmit" type="button" class="button signUp">
                        <span class="buttonText">Sign Up</span>
                    </button>
                </div>

            </form> 

        </div>
        <script src="/javascript/formController.js"></script>
    </body>
</html>