<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles_threadView.css">
    <title>Thread View</title>
</head>
<body>
    <header>
        <nav class="navigation">
            <ul class="navigation-list">
                <li><a href="/userprofile">Home</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
        <h1>REQUESTS</h1>
    </header>
    <section>
        <div class="column left">
            <!-- <div class="search-bar">
                search bar
            </div> -->
            <div>
                <div class="message-list-item">
                    <div class="btn-group">
                        <!-- <button>
                            <div class="message-div">
                                <div class="item sender"><b>sender</b></div>
                                <div class="item date"><small>date</small></div>
                                <div class="item snippet">snippet</div>
                            </div>
                        </button> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="column right">
            
        </div>
    </section>
    <script src="/javascript/threadView.js"></script>
    <footer><h2>Copyright</h2></footer>
</body>
</html>