<!DOCTYPE html>
<html>
    <head>
        <title>Email Verrified</title>
    </head>

    <body>
        <div>
            <h2>Verification Successful!</h2>
        </div>
        <div>
        	<a href=""> Login To Your Account</a>
        </div>
	
        
    </body>





</html>