<!DOCTYPE html>
<html>
    <head>
        <title>Email Verrified</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
        <link type ="text/css" rel="stylesheet" href="/css/styles_verified.css"/>
    </head>

    <body class="main">
        
        <div class='box center'>

            <img class="mail" src="https://img.icons8.com/cotton/120/000000/checked--v3.png"/>


            <div class="icon">
            </div>
           
            <div class="content">
                Verification Successful!
            </div>
            
            <div class="login">
        	   <a href="/login"> Login To Your Account</a>
            </div>
        </div>
	    
        
    </body>





</html>