<!DOCTYPE html>
<html>
    <head>
        <title>Verify Email</title>
    </head>

    <body>
        <div>
            <h2>Please Verify Your Email Address</h2>
        </div>
        
        <div>
            <span class="">Haven't Received Your Email Yet?</span>
            <br>
            <a href=""> click Here to Re-send</a>
            
        </div>
        <br>
        <div class="form-control">
            <a href=""> Login To Your Account</a>
        </div>
    </body>





</html>
