<!DOCTYPE html>
<html>
    <head>
        <title>Verify Email</title>
    </head>

    <body>
        <div>
            <h2>Please Verify Your Email Address</h2>
        </div>
        
        <div>
            <span class="">Haven't Received Your Email Yet?</span>
            <br>
            <a id="link"> click Here to Re-send</a>
            <p id="emailp"><%= email %></p>
            
        </div>
        <br>
        <div class="form-control">
            <a href="/login"> Login To Your Account</a>
        </div>
        <script src="/javascript/sendemailagain.js"></script>
    </body>





</html>
