*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)),url(../resources/watercolour-1325656_1920.jpg);
    background-size: cover;
}

h1{
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    top: 0;
    left: 0;
    font-family: 'Ubuntu', sans-serif;
    color: grey;
}

.container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);  
    background: #fff;
    width: 600px;
    height: fit-content;
    z-index: 6;
    text-align:center;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    font-family: monospace;
    border-radius: 10px;
    align-self: center;
    font-family: 'Ubuntu', sans-serif;
    border: 1px solid lightgrey;
    opacity: 0.9;
}

.form-control{
    position: relative;
    color: white;
    border-radius: 20px;
    margin-bottom: 8px;
    padding-bottom: 20px;
}

.form-control textarea,
.form-control input{
    border: 1px solid lightgrey;
    border-radius: 6px;
    display: block;
    font-size: 14px;
    padding: 10px;
    width: 100%;
    outline: none;
    font-family: 'Ubuntu', sans-serif;
}

.form-control input:-webkit-autofill { 
    -webkit-background-clip: text;
}

.form-control input:focus{
    box-shadow: none;
    outline: none;
    border-color: #4E8975;
}

#fileItem{
    border-bottom: none;
}

.form-control i{
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    z-index: 5;
}

.form-control.success i.fa-check-circle{
    bottom: 0;
    left: 0;
    visibility: visible;
    color: #2ecc71;
}

.form-control.error i.fa-exclamation-circle{
    bottom: 0;
    left: 0;
    visibility: visible;
    color: #e74c3c;
}

.form-control small{
    visibility: hidden;
    position: absolute;
    bottom: 0px;
    left: 20px;
}

.form-control.error small{
    color: #e74c3c;
    visibility: visible;
}

.button.contact{
    border: none;
    border-radius: 10px;
    display: block;
    font-size: 18px;
    padding: 15px;
    width: 70%;
    cursor: pointer;
    margin: auto;
    background-color:#70a9a1;
    opacity: 2;
    color: white;
    outline-style: none;
    position: relative;
}

.button.contact:hover{
    background-color: #40798c;
}

.button.contact:active{   
    background-color: #2d4642 ;
}

.buttonText{
    transition: all 0.2s;
}

.container h1{
    font-family: 'Ubuntu', sans-serif;
}