
body{
  background-color: #40798c;
  margin: 0px;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
main {
  display:flex;
}
.container{
  display: relative;
  max-width: 1250px;
  
  padding: 0 !important;
  width: 100%;
  background-color: #70a9a1;
  box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
}
.header-main{
  background: #eee;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #1f363d;
  height: 300px;
}

footer {
  background-color: #1f363d;
  height: 200px;
  margin: auto;
  padding: 0 !important;
  box-shadow: 0 3px 6px rgba(0,0,0,0.10), 0 3px 6px rgba(0,0,0,0.10);
  clear: both;
}  

footer p{
  margin: 40px 30px 0 10px;
  font-size: 13pt;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #888;
  text-align: center;
  bottom: -100px;
  position: relative;
}
.profile-div {
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
}

.profile-pic {
  width: 200px;
  height: 200px;
  margin-top: -120px;
  border-radius: 100px;
  border: 4px solid #f4abc4;

}
.name {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18pt;
  color: #1f363d;
}

p.info {
  margin-top: -5px;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
  font-weight: bold;
  color:#40798c;
}

.request-tiles{
  margin: 20px 70px 20px 100px;
  padding: 60px;
  
}
button.open-button-request {
  height: 100px;
  width:75%;
  padding: 10px 75px 10px 75px;
  margin-top:50px;
  margin-bottom:50px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background-color: #1f363d;
  outline: #f4abc4;
  border-radius: 10px;
  border-style:ridge;
  border-width: 0px;
  cursor: pointer;
  
}
button.open-button-request:hover{
border-color:#f4abc4 ;
border-width: 5px;
}
button.open-button-request:active{
border-color:#f4abc4 ;
border-width: 5px;
}

.button__text{
font-family: Georgia, 'Times New Roman', Times, serif ;
margin-left: auto;
margin-right: auto;
font-size:20px;
color:#f4abc4 ;

}
.navigation {
padding: 0 25px 0 25px !important; 
text-align: center;
width: 100px;
float :left;
margin: 20px;
position: relative;


}

.nav {
color: black;
list-style-type: none;
width: 100px;
height: 100%;
background-color:#1f363d;

}
ul.nav {
padding-left: 0px;
padding-right: 0px;
position: absolute;
bottom: 0px;
}
li.nav  {
margin: 40px 30px 0 10px;
cursor: pointer;
padding: 30px 10px 5px 0px;
border-bottom-width: 5px;
}


ul button{
width:100%;
background-color:#1f363d ;
color: #9ec1a3 ;
border-width: 3px;
border-color: #1f363d;
outline: #f4abc4;
border-style: solid;
cursor: pointer;
}
ul button:hover{
border-color: #f4abc4;
border-width: 3px;
}



li.logout-button{
position:absolute;
bottom: 0px; 
width:100%; 
}

i.material-icons{
color:#9ec1a3;
}
i.log{
color: red;
font-weight: bolder;
}


li.dropdown {
position:relative;
width:100%;
display:inline-block;
}

.dropdown-content{
position: absolute;
display:none;
background-color:#1f363d;
}
.dropdown:hover .dropdown-content{
display:inline-block;
width: fit-content;

}
div.dropdown-content a {
display:block;
text-decoration: none;
font-size: 14px;
color: #9ec1a3;
padding: 6px;
}
div.dropdown-content a :hover{
border-width: 3px;
border-color:#f4abc4;
}
@media  screen and (max-width: 600px){

}
body > div > div > main > div.navigation >ul{
 
padding-left: 0px;
padding-right: 0px;
position: fixed;
bottom: 0px;
left: 0px;
top: 0px;
right: 0px;
margin-top: 0px;
padding-top: 16px;
padding-bottom: 20px;
padding-bottom: 16px;
margin-bottom: 0px;
}