body{
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  /* background: linear-gradient(4deg, rgba(143,160,162,1) 0%, rgba(15,79,96,1) 100%); */
  background-image: url(../resources/background-test.jpg);
}

.container{
  box-sizing: border-box;
  display: flex;
  flex-direction:column;
  /* height: 100%; */
  /* width: 100%; */
}

.column{
  /* background: radial-gradient(circle, rgba(92,202,143,1) 12%, rgba(9,126,103,1) 100%); */
  background-image: url(../resources/profile-background.jpg);
  width: 65%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  box-shadow: 1px 5px 7px 1px rgba(187, 187, 181, 0.7);
  border-radius: 10px;
}

.photo{
  width: 100%;
  align-items: center;
  padding-left: auto;
  padding-right: auto;
}

.photo img{
  width: 200px;
  height: 200px;
  display: block;
  border-radius: 100%;
  margin: auto;
}

.photo h4{
  display: block;
  width: fit-content;
  margin: auto;
  text-align: center;
  font-size: 2.5vw;
  font-family: monospace;
}

.details{
  padding: 20px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.details p{
  display: block;
  margin: 10px;
  text-align: center;
  color: grey;
  font-family: monospace;
  font-size: 1.4vw;
}

.main-body{
  box-sizing: border-box;
  box-shadow: whitesmoke;
  padding: 0;
  margin: 0;
  width: 100%;
  align-items: center;
  /* background: linear-gradient(to right, #ffbf96, #fe7096) !important; */
}

.navigation{
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 90px;
  z-index: 1;
  background: linear-gradient(to right, #00d4ff, #090979) !important;
  /* opacity: 0.6; */
}

.nav{
  box-sizing: border-box;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: inherit;
  height: fit-content;
  position: relative;
  line-height: normal;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.nav li{
  display: flex;
  padding: auto;
  margin-right: 5px;
  margin-left: 5px;
  height: 60px;
}

.navBtn, .logout-popup{
  border: none;
  padding: auto;
  background: transparent;
  color: white;
  width: 90px;
  height: 60px;
  cursor: pointer;
  justify-content: center;
  outline: none;
}

.nav button:hover{
  background: lightgrey;
  color: black;
}

.nav button:active{
  outline: none;
  background: grey;
  color: white;
  border: none;
}

.request-tiles{
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  width: fit-content;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
}

.open-button-request{
  text-align: center;
  font-size: 2rem;
  font-family: monospace;
  font-weight: initial;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  color: black !important;
  background-image: url(../resources/abstract_smooth_wave_background_vector_grapihic_art_569579.jpg);
  /* background: linear-gradient(to right, #84d9d2, #07cdae) !important; */
  border: none;
  outline: none;
  height: 350px;
  width: 250px;
  position: relative;
  margin: 20px;
  opacity: 0.8;
  overflow: hidden;
  cursor: pointer;
}

.open-button-request:active{
  top: 2px;
  right: 2px;
  outline: none;
}

.dropdown-content,
.dropdown-notification{
  font-family: monospace;
  box-sizing: border-box;
  left: 90px;
  width: 180px;
  margin: 0.125rem 0 0;
  color: black;
  text-align: left;
  list-style: none;
  background-color: #fff;
  display: none;
  border: none;
  border-radius: 0 10px 10px;
  box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  font-size: 0.9rem;
  margin-top: 0;
  padding: 0;
  overflow: hidden;
}

.dropdown-content.drop,
.dropdown-notification.drop{
  display: block;
}

.dropdown-content a,
.dropdown-notification a{
  box-sizing: border-box;
  width: 100%;
  /* clear: both; */
  font-weight: 400;
  text-align: inherit;
  border: 0;
  text-decoration: none;
  flex-direction: row;
  font-size: 1rem;
  display: flex !important;
  margin-bottom: 0;
  padding: 11px 13px;
  cursor: pointer;
}

.dropdown-content a:hover,
.dropdown-notification a:hover{
  background: lightgrey;
}

.dropdown-content a:active,
.dropdown-notification a:active{
  background: grey;
  color: white;
}

/* dropdown-notification style overrides */
.dropdown-notification{
  width: 350px;
  max-width: 350px;
  max-height: 150px;
  overflow: scroll;
  overflow-x: hidden;
  right: 140px;
}

.dropdown-notification::-webkit-scrollbar{
  width: 0;
}

footer{
  display: inline-block;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: inherit;
}

/* responsive */
/* @media screen and (max-width: 1200px){
  body{
    width: 100%;
  }
}

@media screen and (max-width: 1000px){
  .open-button-request{
    height: 60%;
    width: 70%;
  }

  .col{
    width: 50%;
  }

  .photo h4{
    font-size: 3vw;
  }

  .details p{
    font-size: 2vw;
    text-align: left;
  }
}

@media screen and (max-width: 666px){
  .main-body{
    margin-top: 0;
  }
  .col{
    width: 100%;
  }
  .container{
    position: fixed;
    flex-direction: column;
    width: 100%;
  }
  .profile-div{
    display: flex;
    height: 60%;
  }
  .photo h4{
    font-size: 4vw;
  }
  .details p{
    font-size: 3vw;
    text-align: center;
  }
  .open-button-request{
    margin-top: 20px;
  }
}

@media screen and (max-width: 500px){

} */