body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)),url(../resources/website-design-background.png);
    background-size: cover;
    color: lightgrey;
}

.projectHeaderContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: grey;
}
.projectHeaderContainer span{
    font-weight: 900;
}

.image-container img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    padding: 0;
    margin: 10px;
}

.header,
.projectHeader{
    color: grey;
    pointer-events: none;
    position: relative;
    display: flex;
}