*{
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.container{
    background-color:rgba(255,255,255,0.5);
    border-radius: 40px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 35%;
    max-width: 100%;
    position: relative;
}

.header{
    background-color: #70a9a1;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
    border-radius: 20px;
    text-align: center;
    opacity:0.95;
}

.header h2{
    margin: 0px;
}

.form{
    padding: 20px 40px;
    opacity: 0.78;
}

.form-control{
    margin-bottom: 8px;
    padding-top: 15px;
    position: relative;
    color: black;
    font-size: 17px;
    
    font-weight: bold;
    overflow: hidden;
}


.form-control input{
   /*border: 2px solid #f0f0f0;*/
   border:none;
   color: #373636;
   font-weight: 450;
   display: block;
   font-size: 14px;
   padding-top: 20px;
   width: 100%;
   height: 100%;
   outline: none;
   background-color: transparent;
}

.form-control label{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}

.radio{
    padding-top: 10px;
}

.radio2{
    padding-bottom: 10px;
}

.form-control label::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    border-bottom: 3px solid #1f363d;
    transform: translateX(-100%);
    transition: all 0.3s ease;

}

.content-name{
    position: absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.3s ease;
}

.form-control input:focus + .label-name .content-name, 
.form-control input:not(:placeholder-shown)+ .label-name .content-name{  

    transform: translateY(-130%);
    font-size: 14px;
    color: #1f363d;
}

.form-control input:focus +.label-name::after, 
.form-control input:valid +.label-name::after{
    transform: translateX(0%);
}


.form-control select{
    background-color: transparent;
    border-bottom: 2px solid black;
    

}

.form-control input[name="gender"], input[name="type"]{
    display: inline-block;
    width: 20px;
}


.form-control.success  input{
    border-color: #2ecc71;
}

.form-control.error input{
    border-color: #e74c3c;
}

.form-control i{
    position: absolute;
    bottom: 30px;
    right: 5px;
    visibility: hidden;
}

.form-control.success i.fa-check-circle{
    bottom: 0;
    left: 0;
    visibility: visible;
    color: #2ecc71;
}

.form-control.error i.fa-exclamation-circle{
    bottom: 0;
    left: 0;
    visibility: visible;
    color: #e74c3c;
}

.form-control i.far{
    z-index: 10;
    color: black;
    cursor: pointer;
    visibility: visible;
}

.form-control small{
    visibility: hidden;
    position: absolute;
    bottom: 0px;
    left: 20px;
}

.form-control.error small{
    color: #e74c3c;
    visibility: visible;
}

.radio.success  input{
    border-color: #2ecc71;
}

.radio.error input{
    border-color: #e74c3c;
}

.radio i{
    position: absolute;
    bottom: 30px;
    right: 5px;
    visibility: hidden;
}

.radio.success i.fa-check-circle{
    bottom: 0;
    left: 0;
    visibility: visible;
    color: #2ecc71;
}

.radio.error i.fa-exclamation-circle{
    bottom: 0;
    left: 0;
    visibility: visible;
    color: #e74c3c;
}

.radio i.far{
    z-index: 10;
    color: black;
    cursor: pointer;
    visibility: visible;
}

.radio small{
    visibility: hidden;
    position: absolute;
    bottom: 0px;
    left: 20px;
}

.radio.error small{
    color: #e74c3c;
    visibility: visible;
}

.button.signUp{
    border: none;
    border-radius: 10px;
    display: block;
    font-size: 18px;
    padding: 15px;
    width: 80%;
    cursor: pointer;
    margin: auto;
    background-color:#1f363d;
    opacity: 2;
    color: white;
    outline-style: none;
    position: relative;
}

.button.signUp:hover{
    background-color: #01110f;
}

.button.signUp:active{   
    background-color: #2d4642 ;
}

.buttonText{
    transition: all 0.2s;
}

.main-body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.2)),url(../resources/ben-neale-sQQf8Ao3dpk-unsplash.jpg);
    background-size: cover;
    width: 100%;
    height: 100%; 
}

.faculty,.question{
    border-style: none;
    border-collapse: collapse;
    outline: none;
    font-size: 14px;
    color: #666666;
   
    padding: 10px;
    width: 100%
}

h1{
    text-align: center;
    color:black;
}
@media only screen and (max-width: 1100px){
    .container{
        width:55%;
        border-radius: 35px;

    }
    .form{
        padding: 20px 30px;
    }
}

@media only screen and (max-width: 780px){
    .container{
        width:70%;
        border-radius: 35px;

    }
    .form{
        padding: 20px 30px;
    }
}

@media only screen and (max-width: 450px){

    .container{
        width:90%;
        border-radius: 30px;
    }
    .form{
        padding: 10px 20px;
    }
}