/* styles for logout popup window */
/* ------------------------------------------------------------------ */
.popup-window{
    box-sizing: border-box;
    position: fixed;
    padding: 10px;
    align-items: center;
    justify-content: center;
    height: fit-content;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: 1;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 300px;
    max-width: 100%;
    visibility: hidden;
  }
  
  .popup-window.visible{
    visibility: visible;
  }
  
  .header{
    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
  .button{
    border: 2px solid #8e44ad;
    border-radius: 10px;
    display: inline-block;
    font-size: 16px;
    margin: 2px;
    padding: 10px;
    width: inherit;
    cursor: pointer;
  }

  .button:hover{
    background: #b1a7a7;
    color: whitesmoke;
  }

  .button:active{
    outline: none;
    background: #635c5c;
    color: whitesmoke;
  }


  
  /* ------------------------------------------------------- */