*{
    font-family: 'Ubuntu', sans-serif;
}

*:focus {
    outline: 0 !important;
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    /*background: linear-gradient(#bdc3c7 , #2c3e50);*/
    background: #40798c;
    border-radius: 6px;
}

body{
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    /*background-image: url(../resources/soft-cloudy-is-gradient-pastel-abstract-sky-background-sweet-color_6529-1434.jpg);*/
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(../resources/pexels-henry-&-co-2341290.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.navigation{
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    height: 90px;
    position: fixed;
    display: block;
    /*background: linear-gradient(to right, #42275a, #734b6d);*/
    /* background: whitesmoke; */
    background-color: #0f3443;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
}

.sidePanel,
.nav{
    box-sizing: border-box;
    box-shadow: none;
    display: flex;
    width: auto;
    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;
    width: fit-content;
    height: 60px;
    position: relative;
    line-height: normal;
    float: right;
}

.sidePanel{
    float: left;
}

.sidePanel li,
.nav li{
    display: flex;
    padding: auto;
    margin-right: 5px;
    margin-left: 5px;
    height: 60px;
}

.sidePanel button,
.navBtn{
    border: none;
    padding: auto;
    background: transparent;
    color: lightgrey;
    width: 80px;
    height: 60px;
    cursor: pointer;
    justify-content: center;
    outline: none;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .3s;
    
}

.sidePanel button{
    width: fit-content;
}

.sidePanel button:hover,
.nav button:hover{
    /*background: lightgrey;*/
    color: white;
    font-size: 1.15rem;
}

.sidePanel button:active,
.nav button:active{
    outline: none;
    background: grey;
    color: white;
    border: none;
}

.main-body{
    top: 90px;
    position: relative;
    display: flex;
    padding: 20px 5px;
    transition: margin-left .5s; 
}

.column{
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 515px;
    max-height: 100%;
    box-sizing: border-box;
    max-width: 100%;
    /*opacity: 0.8;*/
    border-radius: 10px;
    background-image: url(../resources/background-test.jpg);
    position: relative;
    overflow: hidden;
    margin-top: 3%;
    /* box-shadow: -4px 4px 5px -1px rgba(0,0,0,0.75); */
    /* background-color: grey; */
    /* display: flex; */
    /* flex-direction: column; */
}

.column.left{
    width: 30%;
    margin-right: 3px;
    /* background: linear-gradient(90deg, #757474 0%, #464646 49%, #080808 100%); */
}

.search-bar{
    align-items: center;
    display: flex;
    flex-direction: row;
    position: relative;
}

.search-bar input[type=text]{
    /* float: left; */
    display: inline;
    padding: 9px;
    border: 1px solid lightgrey;
    margin: auto;
    font-size: 15px;
    width: 500px;
    position: relative;
    border-radius: 8px;
}

.searchButton{
    position: absolute;
    top: 18px;
    right: 5px;
    background: white;
    border: none;
    border-radius: 30%;
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px;
}
.searchButton:hover{
    background: whitesmoke;
    
}

.tab{
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #40798c ,#1f363d);
    /*background: #40798c;*/
    overflow-x: hidden;
    padding-top: 60px;
    z-index: 1;
    transition: 0.5s;
}

.tab .closebtn{
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 36px;
    margin: 0;
    padding: 0;
    color: white;
}

.tab a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.tab a:hover{
    color: black;
}

.tab .tablinks{
    display: block;
    background: transparent;
    color: #fff;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    font-size: 1.1rem;
    transition: 0.3s;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
}

.tab .material-icons{
    position: absolute;
    right: 0;
    bottom: 0;
    visibility: hidden;
}

.tab .tablinks.unreadExists .material-icons{
    visibility: visible;
}

/* Change background color of buttons on hover */
.tab .tablinks:hover{
    background-color: #ddd;
    color: black;
}

/* Create an active/current "tab button" class */
.tab .tablinks.active{
    background-color: #9e9c9c;
}

.tab .selectedTablink{
    background-color: #9e9c9c;
    color: black;
}
.tab .selectedTablink:hover{
    background-color: #9e9c9c;
    color: black;
}

.tab .dropdown-container{
    margin-top: 30px;
}

.column.right{
    width: 60%;
    border-radius: 10px;
    margin-left: 2px;
    position: relative;
    /* background: linear-gradient(90deg, #080808 0%, #464646 40%, #757474 100%); */
}

.buttoncontainer{
    position: relative;
    overflow: hidden;
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    max-height: 85%;
}

.message-list-item{
    position: relative;
}

.btn-group{
    margin-top: 15px;
}

.btn-group button {
    background-color: #fff;
    border: none;
    border-top: 1px solid grey;
    color: black;
    padding: 10px 24px;
    cursor: pointer;
    width: 97%;
    height: 60px;
    display: block;
    text-align: left;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
}

.btn-group button .material-icons{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
}

.btn-group button.accepted .material-icons.accepted{
    visibility: visible;
    color: #2ecc71;
}

.btn-group button.declined .material-icons.declined{
    visibility: visible;
    color: #e74c3c;
}

.btn-group button.notRead .material-icons.notRead{
    visibility: visible;
    color: #e74c3c;
}

.btn-group .item{
    margin: 1px;
    display: inline-block;
}

.btn-group .item.sender{
    font-size: 0.95rem;
    margin-bottom: 3px;
}
.btn-group .item.date{
    float: right;
}
.btn-group .type{
    font-size: 0.95rem;
    font-weight: 500;
}

.btn-group button:first-child{
    /*border-radius: 10px 10px 0 0;*/
    border-top: none;
}

.btn-group button:last-child{
    /*border-radius: 0 0 10px 10px;*/
}

.btn-group button:hover {
    background-color: lightgrey;
}

.btn-group button:active{
    background-color: #443e3e;
    color: white;
}

.btn-group button.selected.threads{
    /* background-color: lightgrey; */
    background-color: #443e3e;
    color: white;
}

.reply-btn-group{
    width: 80%;
    position: absolute;
    bottom: 0;
}
.replyBtns{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.reply-btn-group button{
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    width: 115px;
    display: inline-block;
    text-align: center;
    visibility: hidden;
    font-size: 1.0rem;
    position: relative;
    transition: all .3s;
}
.replyBtn{
    /*background: linear-gradient(to right, #bdc3c7, #2c3e50);*/
    background-color:#1f363d;
}
.acceptBtn{
    background: linear-gradient(to right, #02aab0, #00cdac);
}
.declineBtn{
    background: linear-gradient(to right, #ff512f , #dd2476);
}

.replyBtn:hover{
    /*background: linear-gradient(to right, #2c3e50, #bdc3c7);*/
    background: #40798c;
}
.acceptBtn:hover{
    background: linear-gradient(to right, #00cdac, #02aab0);
}
.declineBtn:hover{
    background: linear-gradient(to right, #dd2476 , #ff512f);
}

.acceptBtn:active,
.declineBtn:active,
.replyBtn:active{
    top: 1px;
    right: 1px;
}

.reply-btn-group.visible button{
    visibility: visible;
}

.replyBtn.visible{
    visibility: visible;
}
/* ------------------page navigation next, previous buttons--------------------- */
.pageNav{
    position: absolute;
    bottom: 0px;
    max-height: 30px;
    left: 0;
    padding: 3px;
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: 5px auto 5px auto;
}
.pageNav .pageNavContents{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

.pageNav .page{
    margin-left: 4px;
    margin-right: 4px;
}
.pageNav .pageNavBtn{
    background: transparent;
    border-radius: 50%;
    border: none;
}
.pageNav .pageNavBtn:hover{
    background: lightgrey;
}

.pageNav a {
    text-decoration: none;
    display: flex;
    padding: 6px;
    margin: 4px;
}

.pageNav a:hover {
    background-color: #ddd;
    color: black;
}

#pageSelector{
    background: transparent;
    border: none;
    color: black;
    line-height: inherit;
    outline: none;
    padding: 0px;
    text-align: center;
    width: 8px;
}
  /* --------------------------------------------- */

footer{
    background: transparent;
    border: none;
    padding: 20px 40px;  
    text-align: left;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
}

.msg-group{
    display: flex;
    flex-direction: column;
    margin: 3px;
    padding: 4px;
    height: fit-content;
    max-height: 85%;
    top: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
}

/* ----------------thread msg display styles------------------------- */

.msg-group .reciever{
    margin: 5px;
    padding: 5px;
    height: fit-content;
    width: 97%;
    background: linear-gradient(to right, #2193b0, #6dd5ed);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    /* max-width: 100%; */
    position: relative;
    float: right;
    text-align: right;
    font-size: 1.2rem;
    color: #111;
}

.msg-group .sender{
    margin: 5px;
    padding: 5px;
    height: fit-content;
    width: 97%;
    background: linear-gradient(to right, #cc2b5e, #753a88);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    /* max-width: 100%; */
    position: relative;
    float: left;
    text-align: left;
    font-size: 1.2rem;
    color: #fff;
}

.msg-group a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    height: fit-content;
    width: 195px;
    background: #fff;
    border: none;
    border-radius: 10px;
    margin: 3px;
    padding: 5px;
    margin-top: 8px;
    color: #111;
    align-items: center;
    justify-content: center;
}

.msg-group .reciever a{
    float: right;
}

.msg-group a:hover{
    background: lightgrey;
}

.msg-group a:active{
    background: darkgrey;
    color: #fff;
}

.msg-group span{
    background: transparent;
    top: 0;
    margin: 3px;
}