body{
  position: relative;
  box-sizing: border-box;
  -webkit-box-shadow: 1px 5px 7px 1px rgba(255,255,201,0.7); 
  box-shadow: 1px 5px 7px 1px rgba(255,255,201,0.7);
  padding: 0;
  margin: auto;
  width: 1200px;
  height: 100%;
  background: linear-gradient(4deg, rgba(143,160,162,1) 0%, rgba(15,79,96,1) 100%);
}

.container{
  box-sizing: border-box;
  display: flex;
  height: 100%;
  width: 100%;
  background-image: url(../resources/fog-3622519_1920.jpg);
}

.col{
  background: transparent;
  width: 30%;
  padding: 20px;
  margin-top: 90px;
}

.photo img{
  display: block;
  height: 300px;
  width: 300px;
  border-radius: 100%;
  margin: auto;
}
.photo h4{
  display: block;
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 2.5rem;
  font-family: monospace;
}

.details{
  padding: 20px;
}
.details p{
  display: block;
  margin: 10px;
  text-align: center;
  color: grey;
  font-family: monospace;
  font-size: 1.4rem;
}

.main-body{
  box-sizing: border-box;
  box-shadow: whitesmoke;
  padding: 0;
  margin: 0;
  width: 100%;
  margin-top: 90px;
  /* background: linear-gradient(to right, #ffbf96, #fe7096) !important; */
}

.navigation{
  position: fixed;
  top: 0;
  left: inherit;
  display: block;
  padding: 0;
  margin: 0;
  height: 90px;
  width: inherit;
  /* background: linear-gradient(to right, #00d4ff, #090979) !important; */
  /* opacity: 0.8; */
}

.nav{
  box-sizing: border-box;
  box-shadow: none;
  display: flex;
  width: auto;
  list-style-type: none;
  padding-left: 15px;
  padding-right: 15px;
  width: fit-content;
  height: 60px;
  position: relative;
  line-height: normal;
  float: right;
}

.nav li{
  display: flex;
  padding: auto;
  margin-right: 5px;
  margin-left: 5px;
  height: 60px;
}

.navBtn, .logout-popup{
  border: none;
  padding: auto;
  background: transparent;
  color: grey;
  width: 50px;
  height: 60px;
  cursor: pointer;
  justify-content: center;
  outline: none;
}

.nav button:hover{
  background: lightgrey;
}

.nav button:active{
  outline: none;
  background: grey;
  color: white;
  border: none;
}

.request-tiles{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.open-button-request{
  text-align: center;
  font-size: 1.8rem;
  font-family: monospace;
  font-weight: initial;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  color: black !important;
  background-image: url('../resources/soft-cloudy-is-gradient-pastel-abstract-sky-background-sweet-color_6529-1434.jpg');
  /* background: linear-gradient(to right, #84d9d2, #07cdae) !important; */
  border: none;
  outline: none;
  height: 150px;
  width: 500px;
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.6;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.open-button-request:active{
  top: 2px;
  right: 2px;
  outline: none;
}

.dropdown-content{
  font-family: monospace;
  box-sizing: border-box;
  top: 100%;
  right: 80px;
  z-index: 6;
  min-width: 10rem;
  width: 150px;
  margin: 0.125rem 0 0;
  color: black;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  display: none;
  float: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  font-size: 0.9rem;
  margin-top: 0;
  padding: 0;
}

.dropdown-content.drop{
  display: block;
}

.dropdown-content a{
  box-sizing: border-box;
  width: 100%;
  clear: both;
  font-weight: 400;
  text-align: inherit;
  border: 0;
  text-decoration: none;
  flex-direction: row;
  font-size: 1rem;
  display: flex !important;
  margin-bottom: 0;
  padding: 11px 13px;
  cursor: pointer;
}

.dropdown-content a:hover{
  background: lightgrey;
}

.dropdown-content a:active{
  background: grey;
  color: white;
}

.dropdown-divider{
  border-top: 1px solid lightgrey;
}

footer{
  display: inline-block;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: inherit;
}