/* main popup form */
.popup-request-window{
  box-sizing: border-box;
  position: fixed;
  padding: 10px;
  align-items: center;
  justify-content: center;
  height: fit-content;
  /* set the window in the middle of the current display */
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 1;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 420px;
  max-width: 100%;
  /* hidden until a button clicked */
  visibility: hidden; 
}

/* when a button is clicked, visible class name is added */
.popup-request-window.visible{
  visibility: visible;
}

/* header of the popup form */
.header-popup{
  background-color: #f7f7f7;
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 40px;
  margin-bottom: 20px;
}

/* submit and cancel buttons */
.submit, .cancel{
  border: 2px solid #8e44ad;
  border-radius: 4px;
  display: inline-block;
  font-size: 16px;
  margin: 2px;
  padding: 10px;
  width: 400px;
  cursor: pointer;
}

.submit:hover, .cancel:hover{
  background: rgb(122, 118, 118);
  color: white;
}

/* input fields */
.nonEmpty, .lecturer{
  margin: 2px;
  padding: 5px;
  display: inline-block;
  width: 400px;
  border-radius: 5px;
  border: grey solid thin;
}

.nonEmpty:focus, .lecturer:focus{
  outline: none;
}

/* lecture suggestions panel */
.suggestions-lecturer{
  box-sizing: border-box;
  position: absolute;
  width: 400px;
  margin: none;
  padding: 5px;
  z-index: 3;
  display: inline-block;
}

/* lecturer names */
.suggestions-lecturer option{
  padding: 5px;
  color: #858282;
  border-top: 1px solid #9c9494;
  cursor: pointer;
  text-align: left;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: inline-block;
  width: 385px;
}

/* add a bottom border only to the last option */
.suggestions-lecturer option:last-child{
  border-bottom: 1px solid #9c9494;
  border-radius: 0 0 5px 5px;
}

.suggestions-lecturer option:hover{
  background-color: grey;
  color: #fff;
}

/* styles when a lecturer is selected */
.selectedFinal{
  display: inline-block;
  position: relative;
  font-size: small;
  margin: 3px;
  padding: 3px;
  width: 200px;
  border-radius: 30px;
  border: grey solid thin;
  background-color: whitesmoke;
  color: black;
  overflow: hidden;
  align-self: left;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  top: 205px;
}

.selectedFinal:focus{
  outline: none;
}

.remove{
  position: absolute;
  display: inline;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  border: 1px solid lightgrey;
  border-radius: 50%;
  right: 3px;
  bottom: 2px;
  overflow: hidden;
  z-index: 3;
}

.remove:focus{
  outline: none;
}

/* --------validation styles------------- */

.form-control{
  margin-bottom: 8px;
  padding-bottom: 20px;
  position: relative;
}

.form-control i{
  position: absolute;
  bottom: 0px;
  left: 0px;
  visibility: hidden;
}

.form-control.success i.fa-check-circle{
  visibility: visible;
  color: #2ecc71;
}

.form-control.error i.fa-exclamation-circle{
  visibility: visible;
  color: #e74c3c;
}

.form-control small{
  visibility: hidden;
  position: absolute;
  bottom: 0px;
  left: 20px;
}

.form-control.error small{
  color: #e74c3c;
  visibility: visible;
}