.popup-request-window{
  box-sizing: border-box;
  position: absolute;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin-left: -200px;
  margin-top: -150px;
  z-index: 1;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 100%;
  left: 50%;
  top: 50%;
  visibility: hidden;
  transition-duration: 500ms;
}

.popup-request-window.visible{
  visibility: visible;
  
}

.header-popup{
  background-color: #f7f7f7;
  border-bottom: 1px solid #f0f0f0;
  padding: 20px 40px;
  margin-bottom: 20px;
}

.popup-request-window button{
  border: 2px solid #8e44ad;
  border-radius: 4px;
  display: inline-block;
  font-size: 16px;
  margin: 2px;
  padding: 10px;
  width: 75%;
  cursor: pointer;
}

.popup-request-window button:hover{
  background: rgb(122, 118, 118);
  color: white;
}

.input-field{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input{
  margin: 10px;
  padding: 5px;
  display: inline-block;
  width: 300px;
  border-radius: 5px;
  border: grey solid thin;
}


